/* header */
body {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
}

header {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-navbar {
  margin-left: 127px;
  margin-right: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-logo {
  height: 45px;
  width: auto;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.navbar-link {
  width: 120px;
  text-align: center;
}

.navbar-btn {
  background-color: #3db5e2;
  border: none;
  color: white;
  border-radius: 40px;
  height: 55px;
  width: 150px;
}

@media only screen and (max-width: 411px) {
  .right-navbar {
    display: none;
  }
  .top-navbar {
    padding-top: 16px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 16px;
    padding-bottom: 16px;
    display: block;
  }
}

/* main section */
.main-content-container {
  position: relative;
  z-index: 1;
}

.bg-vector {
  width: 100%;
  height: auto;
}

.main-content {
  width: 100vw;
  position: absolute;
  top: 180px;
  padding-left: 127px;
  padding-right: 111px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.left-main-content {
  width: 550px;
  color: white;
}

.main-big-text {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.main-paragraph {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 60px;
}

.white-btn {
  background-color: white;
  border: none;
  color: #3274cc;
  width: 200px;
  height: 55px;
  border-radius: 30px;
  margin-right: 16px;
  font-weight: bold;
  font-size: 18px;
}

.transparent-btn {
  background-color: transparent;
  width: 200px;
  height: 55px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 411px) {
  #main-content-img {
    display: none;
  }

  .main-big-text {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.05em;
    position: static;
  }

  .main-content {
    padding-left: 16px;
    padding-right: 16px;
    top: 130px;
  }

  .main-content-container {
    width: 100vw;
  }

  .main-paragraph {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 25px;
    margin-bottom: 56px;
  }

  .white-btn {
    width: 150px;
    height: 55px;
    margin-right: 16px;
    font-size: 14px;
  }

  .transparent-btn {
    width: 150px;
    height: 55px;
    font-size: 14px;
  }
}

/* card section */

.cards-section {
  padding: 140px 111px 201px 127px;
}

.card-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 64px;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 232px;
  padding: 16px 16px 20px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-right: 56px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 16px;
  margin-bottom: 27px;
}

.card-img {
  width: 100%;
}

.card-description {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

@media only screen and (max-width: 411px) {
  .card-heading {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.02em;
  }

  .cards-section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-right: 0px;
    width: 194px;
    margin-bottom: 16px;
  }
}

/* footer */
footer {
  padding: 24px 0px 24px 24px;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  background-color: #f7f7f7;
}
